.Rproj.user
.Rhistory
.RData
.Ruserdata
altdoc/freeze.rds
_quarto/*
!_quarto/_freeze/
README.html
/README_files/*
renv.lock

# qrtdown
/.quarto/
**/*.quarto_ipynb

# qrtdown
_quarto.yml
reference/
_freeze/

# parquet working files
data-raw/output/
data-raw/output_renamed/

# qrtdown
_qrtdown-styles.css
_qrtdown/
index.qmd
